apache-airflow-providers-postgres
apache-airflow-providers-mongo
apache-airflow-providers-apache-kafka

acryl-datahub-airflow-plugin[plugin-v2]~=0.13.3.6
airflow-provider-great-expectations
great-expectations
acryl-datahub[great-expectations]
